# Ignorar el directorio de compilación de Rust
/target/

# Ignorar el archivo de variables de entorno que contiene secretos
.env

# Base de datos local
*.db

# Archivos de estado y configuración de Terraform (¡pueden contener secretos!)
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terraform/

# Archivos de SQLx offline
.sqlxrc

# Archivos de Visual Studio / VS Code
.vscode/
.vs/

# Archivos de sistema operativo y editores
.DS_Store

# Binarios y archivos comprimidos
*.exe
*.zip
*.log